@font-face {
    font-family: "OS-Bold";
    src: url(assets/font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OS-Light";
    src: url(assets/font/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OS-Regular";
    src: url(assets/font/OpenSans-Regular.ttf);
}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "OS-Regular", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    background-color: #e5e6e7;
}

nav {
    margin-bottom: 40px;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 0px 10px;
    line-height: 20px;
    
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.wrapper {
    display: inline-flex;
    justify-content: space-around;
}

.image {
    width: 300px;
    height: 360px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3c3b3b;
    margin-left: 15px;
    line-height: 1;
}

.title__name {
    font-size: 80px;
    font-family: "OS-bold";
    letter-spacing: 5px;
    margin: 0;
}

.title__firstname {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 10px;
}

.title__prof {
    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 10px;
}

main {
    display: flex;
    justify-content: space-between;   
}

.leftside {
    display: flex;
    flex-direction: column;
    background-color: #3c3b3b;
    color: #fefefe;
    padding-left: 24px;
}

.contact h2, .skills h2, .language h2{
    padding-bottom: 15px;
    border-bottom: 2px solid #fefefe;
}

.icon {
    width: 30px;
    height: 30px;
    filter: invert(99%) sepia(70%) saturate(4948%) hue-rotate(357deg) brightness(104%) contrast(106%);
    cursor: pointer;
    margin-right: 5px;
}

.icon-phone {
    background-image: url(assets/icons/phone.svg);
}

.icon-email {
    background-image: url(assets/icons/email.svg);
}

.icon-telegram {
    background-image: url(assets/icons/telegram.svg);
}

.icon-git {
    background-image: url(assets/icons/github.svg);
}

.icon-discord {
    background-image: url(assets/icons/discord.svg);
}

.link {
    text-decoration: none;
    color: #fefefe;
}

.contact__list {
    list-style-type: none;
    padding: 0;
}

.contact__list li {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px;
}

.contact__list li:hover .link {
    text-decoration: underline;
}

.contact__list li:hover .icon {
    filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(114deg) brightness(117%) contrast(99%);
}

.skills ul, .language ul, .contact__list {
    list-style: none;
    font-size: 20px; 
  }

.skills li::before, .language li::before {
    content: "\2022";  
    color: yellow; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

.rightside {
    display: flex;
    flex-direction: column;
    width: 70%;
    
    
}


